@model IEnumerable<aspNETuniversity.Models.Faculty>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Факультеты</h1>

 @if (ViewBag.Role=="admin")
{
<p>
    <a asp-action="Create" class="btn btn-primary m-1">Добавить факультет</a>
</p>
}

@using (Html.BeginForm())
{
    <p>
        Поиск: @Html.TextBox("SearchString", null, new { @class= "form-control col-8"})
        <input type="submit" value="Найти" class="btn btn-outline-secondary btn-sm mt-2" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Имя декана
            </th>
            <th>
                Название факультета
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyName)
            </td>
            <td>
                @if (ViewBag.Role=="admin" || ViewBag.Role=="dean" && ViewBag.Faculty==item.FacultyCode.ToString())
                {
                     <a asp-action="Edit" asp-route-id="@item.FacultyCode" class="btn btn-outline-primary">Изменить</a>
                     <a asp-action="Delete" asp-route-id="@item.FacultyCode" class="btn btn-outline-primary ms-1 me-1">Удалить</a>
                }
                <a asp-action="Details" asp-route-id="@item.FacultyCode" class="btn btn-outline-secondary">Информация</a>
            </td>
        </tr>
}
    </tbody>
</table>
