@model aspNETuniversity.Models.Student

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryFather)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryFather)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryMother)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryMother)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyKol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyKol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudGroupCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudGroupCodeNavigation.StudGroupCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Zachetka">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
